body {
  background-color: grey;
}

header {
  /* border: 20px solid black; */
}

/* TODOs:  */
/* CSS create a simple design NavBar for mobile */

.menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.bar1 {
  transform: translateY(-4px);
}

.bar3 {
  transform: translateY(4px);
}

.menu-bg,
.menu {
  top: 0;
  left: 0;
  position: absolute;
  /* width: 100%; */
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, aquamarine, aquamarine);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change .bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(90%, -30%);
}

/* header{
    display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;

} */

.menu {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  */
  background-color: aquamarine;

  z-index: 2;
}

.navbar {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine; */

  /* test */

  transition: 0.3s ease;
  display: none;

  /* z-index: 2; */
}

.logo {
  margin-inline: 2vw;
}

.nav-pages {
  /* display: flex; */

  /* test */
  transition: 0.3s ease;
  display: none;
}

/* test */
.navbar ul {
  padding: 0 22px;
}

.navbar li {
  /* margin-inline: 2vw; */

  /* test */
  list-style: none;
  padding: 12px 0;
}

.navbar li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar li a:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* Gallery Page */

/* Mobile First  */

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;

  padding: 1em;

  /* column-count: 1;
  gap: 1em; */

  /* border: 10px solid black; */
}

.gallery-image {
  border-radius: 10px;
  box-shadow: 1px 1px 31px 8px rgba(0, 0, 0, 0.75);

  /* margin-bottom: 1em; */
}

.gallery-image:hover {
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 31px 8px rgba(255, 215, 0, 0.75);

  transition: 0.5s;
  /* margin-bottom: 1em; */
}
/* @media (width > 1000px) {
  .gallery-images {
    column-count: 5;
  }
}

@media (width > 500px) {
  .gallery-images {
    column-count: 3;
  }
} */

/* test */

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  right: 10px;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, aquamarine, aquamarine);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(90%, -20%);
}

header {
  display: flex;
  align-items: center;

  height: 5em;
  background-color: aquamarine;
}

/* TODO - Check how to do that It will start from the icon */
