:root {
  --header-bg: #66cfac;
  --border-and-hover: gold;
  --shadow-color: rgba(0, 0, 0, 0.75);
  --li-and-border-color: black;
}

body {
  background-color: darkblue;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5em;

  background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;

  height: 5em;
  margin-bottom: 1em;

  background-color: var(--header-bg);
}

.logo {
  max-width: 4em;

  margin-inline: 2vw;
  border-radius: 50px;
  cursor: pointer;
}

.nav-container {
  z-index: 2;
}

.btn-bg {
  width: 45px;
  height: 40px;
  margin: 30px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #220006;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.bar1 {
  transform: translateY(-4px);
}

.bar3 {
  transform: translateY(4px);
}

.navbar {
  transition: 0.3s ease;
  display: none;
}

.navbar li {
  padding: 12px 0;
  color: var(--li-and-border-color);
  font-size: 20px;
  text-decoration: none;
}

.menu-bg,
.nav-container {
  top: 0;
  right: 10px;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--header-bg), var(--header-bg));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change .bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(70%, -25%);
  transition: 0.3s ease;
}

/* Gallery Page - Mobile First */

.search-keyword {
  min-width: 30vw;
  min-height: 2em;
  margin: 0 1em;
  font-size: 1.2em;

  border-radius: 10px;
}

.gallery-images {
  column-count: 1;
  gap: 1.5em;

  margin: 1em;
  padding: 1.5em;
  border: 2px solid var(--border-and-hover);
  border-radius: 10px;
  background-color: cornflowerblue;
}

.gallery-image {
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 1px 31px 8px var(--shadow-color);
  border: 1px solid var(--li-and-border-color);
}

.gallery-image:hover {
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 31px 8px rgba(255, 215, 0, 0.75);

  transition: 0.5s;
}

/* Meme Page - Mobile First */

.meme-editor-page {
  display: flex;
  flex-direction: column;

  gap: 2em;
  align-items: center;

  margin: 1em;
  padding: 1.5em;
  border: 2px solid var(--border-and-hover);
  border-radius: 10px;
  background-color: cornflowerblue;
}

canvas {
  min-width: 70vw;
  border-radius: 10px;
  box-shadow: 1px 1px 31px 8px var(--shadow-color);
}

.editor-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;

  min-width: 70vw;
  padding: 1em;
  border: 2px solid var(--li-and-border-color);
  border-radius: 10px;
  box-shadow: 1px 1px 31px 8px var(--shadow-color);
  background-color: darkcyan;
}

.input-txt {
  width: 80%;
  height: 5vh;

  text-align: center;
  font-size: 1em;
  border-radius: 10px;
}

.edit-line {
  display: flex;
  gap: 1em;
}

.edit-line img,
.edit-txt img {
  max-width: 10vw;
}

.edit-txt {
  text-align: center;
}

.input-color,
.input-border-color {
  width: 2.5em;
  height: 2.5em;
  margin-inline: 0.5em;
  border-radius: 5px;
}

.input-color:hover,
.input-border-color:hover {
  cursor: pointer;
}

.txt-size {
  margin-block: 0.5em;
}

.txt-size-range {
  max-width: 30%;
}

.txt-size-num {
  max-width: 15%;
  border-radius: 5px;
}

.text-alignment {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.btns {
  display: flex;
  gap: 1em;
  align-items: center;
}

.btn {
  padding: 0.5em;

  cursor: pointer;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: antiquewhite;
}

.btn:hover {
  transition: 0.3s;
  background-color: rgb(247, 171, 72);
}

.saved-page {
  margin: auto;
}

.saved-memes {
  column-count: 1;
  gap: 1.5em;
  margin: 1em;
  padding: 1.5em;
  border: 2px solid var(--border-and-hover);
  border-radius: 10px;
  background-color: darkgreen;
}

.saved-page-msg {
  max-width: 90vw;
  font-size: 1.2em;
  padding: 1em;

  background-color: cadetblue;
  border: 2px solid var(--border-and-hover);
  border-radius: 10px;
}

.saved-meme-img {
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 1px 31px 8px var(--shadow-color);
  border: 1px solid var(--li-and-border-color);
}

.save-modal {
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  padding: 0.2em;
  background-color: chartreuse;
  opacity: 0;
  transition: 0.3s;
}

.about-page {
  display: grid;
  gap: 1em;
  text-align: center;

  max-width: 80vw;
  margin: 10vh auto auto auto;
  padding: 2em;

  border: 2px solid var(--border-and-hover);
  border-radius: 10px;
  background-color: darkcyan;
}

.about-page h2 {
  font-size: 3em;
}

.about-page p {
  font-size: 1.4em;
  font-family: math;
}

.about-page:hover {
  color: var(--border-and-hover);
  transition: 0.3s;
}

footer {
  min-height: 2em;
  text-align: center;
  align-content: center;
  background-color: var(--header-bg);
}

/* For DeskTop */

@media (width > 1050px) {
  .logo {
    margin-inline: -1vw;
  }

  header {
    justify-content: space-between;
    padding: 0 5vw;
  }

  .nav-container {
    position: static;
    display: flex;
    gap: 2em;
  }

  .navbar {
    display: block;
  }

  .navbar ul {
    display: flex;
    gap: 5em;
  }

  .navbar li {
    margin-inline-end: 1em;
    font-size: 1.5em;
    font-weight: bold;

    color: var(--li-and-border-color);
  }

  .navbar li:hover {
    color: var(--border-and-hover);

    cursor: pointer;
    transition: 0.8s;
  }

  .btn-bg {
    display: none;
  }

  .menu-bg {
    display: none;
  }

  .gallery-images {
    column-count: 4;
  }

  .meme-editor-page {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: auto;
  }

  canvas {
    min-width: 40vw;
  }

  .editor-container {
    min-width: 40vw;
  }

  .edit-line img,
  .edit-txt img {
    max-width: 3vw;
  }

  .txt-size-range {
    max-width: 50%;
  }

  .saved-page-msg {
    font-size: 2em;
  }

  .saved-memes {
    column-count: 5;
  }

  .about-page {
    max-width: 60vw;
  }
}

.hidden {
  display: none;
}
